<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="btn-toggle-menu"
    [attr.menu]="isMenuCollapsed ? 'closed' : 'open'"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rayd.io</span>
  <div class="horizontal-menu">
    <button *ngFor="let item of menuItems" mat-button class="btn-menu-item" [routerLink]="item.link">{{ item.title }}</button>
  </div>
</mat-toolbar>
<div
  class="vertical-menu mat-elevation-z2"
  [attr.menu]="isMenuCollapsed ? 'closed' : 'open'"
>
<mat-list class="vertical-menu-list">
  <a *ngFor="let item of menuItems" mat-list-item [routerLink]="item.link" (click)="isMenuCollapsed=true">{{ item.title }}</a>
</mat-list>
</div>
<router-outlet></router-outlet>
