<div class="container">
  <div class="left-column">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Radio Stations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wr-station-search (favoritesChanged)="update()"></wr-station-search>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Refresh Stations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wr-station-refresh></wr-station-refresh>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="right-column">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>My Radio Stations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wr-station-list (favoritesChanged)="update()"></wr-station-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Create Station</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <wr-create-station (created)="update()"></wr-create-station>
      </mat-card-content>
    </mat-card>
  </div>
</div>
