.station-label-playing {
  justify-self: flex-start;
  margin-right: 10px;
}

.station-card {
  margin: 25px auto 10px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 500px;
}

.station-logo {
  object-fit: contain;
  padding: 25px;
  background-color: white;
  box-sizing: border-box;
  height: 200px;
}

.station-action {
  float: right;
  position: relative;
}

.card-body {
  min-height: 50px;
}

.card-title {
  font-size: large;
}

.current-title {
  font-size: small;
}

.no-stations {
  margin: 25px auto 0;
  max-width: 500px;
  color: white;

  h1 {
    text-align: center;
  }
}
