<div *ngFor="let station of $stations | async" class="container-sm card station-card">
  <img class="card-img-top station-image" [src]="station.logo" style="object-fit: contain;"/>
  <div class="card-body">
    <h5 class="card-title">{{ station.name }}</h5>
    <div class="station-actions">
      <button *ngIf="state?.source?.id != station.id" class="btn btn-primary" (click)="play(station.id)">
        <i-bs name="play-fill"></i-bs>
      </button>
      <button *ngIf="state?.source?.id == station.id" class="btn btn-primary" (click)="stop(station.id)">
        <i-bs name="pause-fill"></i-bs>
      </button>
    </div>
  </div>
</div>


<div class="container">
  <div class="form-group">
    <label for="stationNameInput">Name</label>
    <input type="text" class="form-control" id="stationNameInput" [(ngModel)]="station.name"/>
  </div>
  <div class="form-group">
    <label for="stationUrlInput">Stream (MP3)</label>
    <input type="url" class="form-control" id="stationUrlInput" [(ngModel)]="station.stream" />
  </div>
  <div class="form-group">
    <label for="stationLogoUrlInput">Logo</label>
    <input type="url" class="form-control" id="stationLogoUrlInput" [(ngModel)]="station.logo" />
  </div>
  <button type="button" class="btn btn-primary"(click)="addStation()">
    <i-bs name="plus"></i-bs>
    <span>Add</span>
  </button>
</div>