<table class="table">
  <thead>
    <tr>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of $stations | async" [attr.stationId]="station.id">
      <td>
        <img [src]="station.logo" style="max-width:100px;max-height: 50px;height: 50px;object-fit: contain;" />
      </td>
      <td>
        <span>{{ station.name }}</span>
      </td>
      <td>
        <button class="btn btn-primary" (click)="play(station.id)">
          <i-bs name="play-fill"></i-bs>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="form-group">
    <label for="stationNameInput">Name</label>
    <input type="text" class="form-control" id="stationNameInput" [(ngModel)]="station.name"/>
  </div>
  <div class="form-group">
    <label for="stationUrlInput">Stream (MP3)</label>
    <input type="url" class="form-control" id="stationUrlInput" [(ngModel)]="station.stream" />
  </div>
  <div class="form-group">
    <label for="stationLogoUrlInput">Logo</label>
    <input type="url" class="form-control" id="stationLogoUrlInput" [(ngModel)]="station.logo" />
  </div>
  <button type="button" class="btn btn-primary"(click)="addStation()">
    <i-bs name="plus"></i-bs>
    <span>Add</span>
  </button>
</div>
