<mat-tab-group mat-stretch-tabs>
  <mat-tab *ngFor="let station of $stations | async" class="station-tab">
    <ng-template mat-tab-label>
      <mat-icon *ngIf="station.id == state?.source?.id" class="station-label-playing">play_circle_outline</mat-icon>
      <span class="station-label">{{ station.name }}</span>
    </ng-template>
    <mat-card class="station-card">
      <img
        mat-card-image
        [src]="station.logo"
        class="station-logo"
      />
      <div class="card-body">
        <span class="card-title">{{ station.name }}</span>
        <button
          class="station-action"
          mat-icon-button
          (click)="
            station.id == state?.source?.id
              ? stop(station.id)
              : play(station.id)
          "
        >
          <mat-icon>{{
            station.id == state?.source?.id ? "pause" : "play_arrow"
          }}</mat-icon>
        </button>
        <p *ngIf="station.id == state?.source?.id" class="current-title">
          <span class="payling-label">Playing:</span>
          &nbsp;
          <span>{{ state?.title }}</span>
        </p>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>