/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

/* stylelint-disable-next-lineat-rule-no-unknown */
@include mat-core();

html,
body {
  height: 100%;
  background-color: #424242;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
